assets/PublicSpeakingMentorAIAssistantStateMachine.asl.json
{
  "StartAt": "StartTranscriptionJob",
  "States": {
    "StartTranscriptionJob": {
      "Next": "WaitForTranscriptionJobToComplete",
      "Type": "Task",
      "ResultPath": "$.TranscriptionResult",
      "Resource": "arn:aws:states:::aws-sdk:transcribe:startTranscriptionJob",
      "Parameters": {
        "TranscriptionJobName.$": "$$.Execution.Name",
        "Media": {
          "MediaFileUri.$": "States.Format('s3://{}/{}', $.detail.bucket.name, $.detail.object.key)"
        },
        "LanguageCode": "en-US",
        "OutputBucketName": "infrastack-publicspeakingmentoraiassistantbucket18-bpceiwv7mezz",
        "OutputKey.$": "States.Format('transcribed-text-files/{}-temp.json', $.detail.object.key)"
      }
    },
    "WaitForTranscriptionJobToComplete": {
      "Type": "Wait",
      "Seconds": 10,
      "Next": "GetTranscriptionJobStatus"
    },
    "GetTranscriptionJobStatus": {
      "Next": "EvaluateTranscriptionJobStatus",
      "Type": "Task",
      "ResultPath": "$.TranscriptionResult",
      "Resource": "arn:aws:states:::aws-sdk:transcribe:getTranscriptionJob",
      "Parameters": {
        "TranscriptionJobName.$": "$.TranscriptionResult.TranscriptionJob.TranscriptionJobName"
      }
    },
    "EvaluateTranscriptionJobStatus": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.TranscriptionResult.TranscriptionJob.TranscriptionJobStatus",
          "StringEquals": "COMPLETED",
          "Next": "CreateBedrockPrompt-SpeechFeedback"
        },
        {
          "Variable": "$.TranscriptionResult.TranscriptionJob.TranscriptionJobStatus",
          "StringEquals": "FAILED",
          "Next": "TranscriptionFailed"
        }
      ],
      "Default": "WaitForTranscriptionJobToComplete"
    },
    "CreateBedrockPrompt-SpeechFeedback": {
      "Next": "GetSpeechFeedback",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ClientExecutionTimeoutException",
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "Type": "Task",
      "ResultPath": "$.feedback_response",
      "ResultSelector": {
        "s3uri.$": "$.Payload"
      },
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-west-2:065780567833:function:InfraStack-preparebdrockpromptsFFEEDA54-G86NhOWLJSBT",
        "Payload.$": "$"
      }
    },
    "GetSpeechFeedback": {
      "Next": "CreateBedrockPrompt-SpeechRewrite",
      "Type": "Task",
      "ResultPath": "$.feedback_response.bedrock_response",
      "Resource": "arn:aws:states:::bedrock:invokeModel",
      "Parameters": {
        "ModelId": "arn:aws:bedrock:us-west-2::foundation-model/anthropic.claude-3-5-sonnet-20240620-v1:0",
        "ContentType": "application/json",
        "Input": {
          "S3Uri.$": "$.feedback_response.s3uri.input"
        },
        "Output": {
          "S3Uri.$": "$.feedback_response.s3uri.output"
        }
      }
    },
    "CreateBedrockPrompt-SpeechRewrite": {
      "Next": "GetSpeechRewrite",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ClientExecutionTimeoutException",
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "Type": "Task",
      "ResultPath": "$.rewrite_response",
      "ResultSelector": {
        "s3uri.$": "$.Payload"
      },
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-west-2:065780567833:function:InfraStack-preparebdrockpromptsFFEEDA54-G86NhOWLJSBT",
        "Payload.$": "$"
      }
    },
    "GetSpeechRewrite": {
      "Next": "CombineLLMChainingOutput",
      "Type": "Task",
      "ResultPath": "$.rewrite_response.bedrock_response",
      "Resource": "arn:aws:states:::bedrock:invokeModel",
      "Parameters": {
        "ModelId": "arn:aws:bedrock:us-west-2::foundation-model/anthropic.claude-3-5-sonnet-20240620-v1:0",
        "ContentType": "application/json",
        "Input": {
          "S3Uri.$": "$.rewrite_response.s3uri.input"
        },
        "Output": {
          "S3Uri.$": "$.rewrite_response.s3uri.output"
        }
      }
    },
    "CombineLLMChainingOutput": {
      "Next": "PublishToSNS",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ClientExecutionTimeoutException",
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "Type": "Task",
      "OutputPath": "$.Payload",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-west-2:065780567833:function:InfraStack-preparebdrockpromptsFFEEDA54-G86NhOWLJSBT",
        "Payload.$": "$"
      }
    },
    "PublishToSNS": {
      "End": true,
      "Type": "Task",
      "ResultPath": null,
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "arn:aws:sns:us-west-2:065780567833:InfraStack-PublicSpeakingMentorAIAssistantTopic58CC96EA-rSvP632R8w1T",
        "Message.$": "$"
      }
    },
    "TranscriptionFailed": {
      "Type": "Fail",
      "Error": "TranscriptionFailed",
      "Cause": "Transcription job failed"
    }
  },
  "TimeoutSeconds": 7200
}